/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(./fonts/roboto1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/roboto2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/roboto3.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/roboto4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/roboto5.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/roboto6.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/roboto7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	background: url(../img/back01.png); 
	font-family: 'Roboto Slab', serif;
}
a {text-decoration: none}

.table-form>thead>tr, .table-form>tbody>tr, .table-form>tbody>tr>td {
	padding: 4px;
	vertical-align: middle;
	border: none;
}
.table-form-bordered>thead>tr, .table-form-bordered>tbody>tr, .table-form-bordered>tbody>tr>td {
	padding: 4px;
	vertical-align: middle;
	border: solid #DDDDDD 1px;
}
.table-form .lbl {
	text-align: right;
	padding-right: 15px;
	font-weight: bold;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td { text-align: center; background: #eee}

.ctr {text-align: center}
.rgt {text-align: right}

.panel-heading > a, .panel-heading > small, .panel-heading > .small, .panel-heading > small > a, .panel-heading > .small > a {
	text-decoration: none;
}

.panel-heading > .tombol-kanan {margin-top: -5px; float: right;}
.panel-heading > .tbl-kanan-soal {float: right;}

.panel-heading > .tombol-kanan > .btn-xs {	margin-top: 4px;}

.top15 {margin-top: 15px;}
.top25 {margin-top: 25px;}

.top150 {margin-top: 150px;}


/* NAVBAR */
nav.navbar-findcond { background: #52A556;; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #fff; }
nav.navbar-findcond ul.navbar-nav a { color: #fff; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #047dff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #fff; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #fff; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #047dff; color: #fff; }
nav.navbar-findcond span.badge { background: #047dff; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

/* button flat */
.btn-sq-lg {width: 150px !important; height: 150px !important;}
.btn-sq {width: 100px !important; height: 100px !important;font-size: 10px; margin-right: 10px;}
.btn-sq-sm {width: 50px !important;height: 50px !important;font-size: 10px; margin-right: 8px;}
.btn-sq-xs {width: 25px !important;height: 25px !important;padding:2px; margin-right: 6px;}

/* glyphicon */
.g2x{ font-size: 30px; } 
.g3x{ font-size: 60px; } 


/*==================================
 Hanging Chatbox
==================================== */
.popup-box {
   background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: 415px;
    position: fixed;
    right: 70px;
    width: 300px;
}
.popup-box-on {
    display: block !important;
    z-index: 9999;
}
.popup-box .popup-head {
    background-color: #fff;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
}
.popup-box .popup-head .popup-head-right {
    margin: 5px 7px 0;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}

/* TAMBAHAN ME */
.fgsoal {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mceEditor > table {
  width: 1050px !important;
}


input.upload {
  padding: 3px;
  width: 100%;
}

blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
-o-animation: blink 1s step-end infinite;
animation: blink 1s step-end infinite;
font-weight: bold;
}

@-webkit-keyframes blink { 67% { opacity: 0 }}
@-moz-keyframes blink {  67% { opacity: 0 }}
@-o-keyframes blink {  67% { opacity: 0 }}
@keyframes blink {  67% { opacity: 0 }}

.btn_soal {
  margin: 0 6px 5px 5px;
  width: 55px;
}
#tampil_jawaban {
  height: 400px;
  overflow: auto;
}

/* styling opsi */
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  padding: 5px 0 5px 50px;  
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2em;
  /*text-indent: 3.25em;*/
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  /*content: '\2714';*/
  text-indent: .9em;
  color: #000;
  font-weight: bold;
  padding: 5px 0 0 0;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #fff;
  background: #86C186;
  font-weight: bold;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  /*content: '\2714';*/
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
  padding: 5px 0 0 0;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/* footer */
.footer {
background: #fff;
border-color: #ccc;
box-shadow: 0 0 2px 0 #ccc;
bottom: 0;
border-width: 0 0 1px;
position: fixed;
right: 0;
left: 0;
z-index: 1030;
padding: 10px;
text-align: center;
}

.huruf_opsi {
  margin-left: -36px;
    margin-top: 9px;
    position: absolute;
}

.ini_bodi {
 margin-bottom: 60px;
}

.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
  background:url(icon.png);
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }

.btn-aktif-b {
    color: #fff;
    background-color: #354e4a;
    border-color: #c6278e;
    font-family: Trebuchet MS;
    text-transform: uppercase;
}

.btn-off-b {
    color: #000;
    background-color: #7c9f99;
    border-color: #fff;
    font-family: Trebuchet MS;
    text-transform: uppercase;
}

.btn-off-b:hover, .btn-off-b:focus, .btn-off-b.focus {
    color: #333;
    text-decoration: none;
    background-color: #609990;
}
.btn-aktif-b:hover, .btn-aktif-b:focus, .btn-aktif-b.focus {
    color: #333;
    text-decoration: none;
    background-color: #609990;
}